---
layout: base
---

<div class="docs">
    <nav>
        <ul>
            <li>
                <h3>Overview</h3>
                <ul>
                    <li>
                        <a href="/docs/progressive-hybrid-apps"
                            >Progressive Hybrid Apps</a
                        >
                    </li>
                    <li><a href="/docs/getting-started">Architecture</a></li>
                </ul>
            </li>
            <li>
                <h3>Usage</h3>
                <ul>
                    <li><a href="/docs/getting-started">Getting Started</a></li>
                    <li><a href="/docs/getting-started">Web</a></li>
                    <li><a href="/docs/getting-started">Android</a></li>
                    <li><a href="/docs/getting-started">iOS</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <article>
        {{ content | safe }}
    </article>
</div>
