---
layout: base
---

<div class="docs">
    <nav>
        <ul>
            <li>
                <h3>Overview</h3>
                <ul>
                    <li>
                        <a href="{{ '/docs/overview' | url }}">Introduction</a>
                    </li>
                    <!-- <li>
                        <a href="{{ '/docs/architecture' | url }}"
                            >Architecture</a
                        >
                    </li> -->
                    <li>
                        <a href="{{ '/docs/overview/getting-started' | url }}"
                            >Getting Started</a
                        >
                    </li>
                </ul>
            </li>
            <li>
                <h3>Guides</h3>
                <ul></ul>
            </li>
            <li>
                <h3>iOS</h3>
                <ul>
                    <li>
                        <a href="{{ '/docs/ios/installation' | url }}"
                            >Installation</a
                        >
                    </li>
                    <li>
                        <a href="{{ '/docs/ios/writing-a-plugin' | url }}"
                            >Writing a Plugin</a
                        >
                    </li>
                    <li>
                        <a href="{{ '/docs/ios/plugin-testing' | url }}"
                            >Testing a Plugin</a
                        >
                    </li>
                </ul>
            </li>
            <li>
                <h3>Android</h3>
                <ul>
                    <li>
                        <a href="{{ '/docs/android/installation' | url }}"
                            >Installation</a
                        >
                    </li>
                    <li>
                        <a href="{{ '/docs/android/writing-a-plugin' | url }}"
                            >Writing a Plugin</a
                        >
                    </li>
                </ul>
            </li>
            <li>
                <h3>API Reference</h3>
                <ul>
                    <li>
                        <a href="{{ '/docs/api/ts/' | url }}">Typescript</a>
                    </li>
                    <li>
                        <a href="{{ '/docs/api/apple/' | url }}">iOS / macOS</a>
                    </li>
                    <li>
                        <a href="{{ '/docs/api/android' | url }}">Android</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <article>
        {{ content | safe }}
    </article>
</div>
